:root {
  --text-color: #e84509;
  --back-color: #ddd;
}

main {
  z-index: 1;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

h1 {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

h2 {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  margin: 10px 0 10px 0;
}

.linkimage,
.linktext {
  opacity: 1;
  transition: 0.3s;

  &:hover {
    opacity: 0.5;
  }
}

.linktext {
  color: #fff;
  background-color: var(--text-color);
  display: inline-block;
  width: 200px;
  height: 40px;
  margin: 0 0 10px 0;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 500;
  text-align: center;
  line-height: 38px;
  /*文字の高さ微調整*/
}

body {
  background-color: var(--back-color);
  font-family:  sans-serif;
  font-weight: 400;
  font-optical-sizing: auto;
  font-style: normal;
  width: 100%;
  margin: 0 auto;
  min-height: 100vh;
  position: relative;
}

.background-map {
  height: 100%;
  width: 100%;
  pointer-events: none;
  z-index: -1;
  opacity: 0.1;
  position: absolute;
}

.shippori-mincho-b1-regular {
  font-family: "Shippori Mincho B1", serif;
  font-weight: 400;
  font-style: normal;
}

.honbun {
  width: 100%;
}

.logo {
  position: fixed;
  top: 0;
  padding: 3%;
}

.multi_column {
  display: grid;
  justify-content: left;
  margin-top: 0;
  grid-template-columns: 1fr 3.75fr;
  /* 左固定幅 + 右可変幅 */
}

.menu {
  position: fixed;
  top: 12%;
  min-height: 20%;
  margin-left: 3%;
  width: 25%;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 300;
  line-height: 40px;
  grid-column: 1;

  ul {
    padding: 0;
    margin: 0
  }

  li {
    list-style: none;
  }

  a {
    text-decoration-line: underline;
    text-decoration-color: transparent;
    transition-property: text-decoration-color;
    transition-duration: 200ms;
    transition-timing-function: ease-out;
    &:hover {
      text-decoration-color: var(--text-color);
    }
  }
}

.SNSiconwrapper {
  margin-top: 20px;
}

.SNSiconwrapper a {
  margin-right: 10px;
}

.content {
  position: relative;
  margin-top: 10vh;
  width: 75%;
  text-align: left;
  line-height: 30px;
  grid-column: 2;
}

.works_caption {
  margin: 0 0 40px 0;
}


.post_list {
  margin: 20px 0 0 0;
  font-size: small;
  line-height: 20px;

  td:first-child {
    text-align: right;
    padding-right: 1.5em;
  }
}

.author_list {
  margin: 10px 0 0 0;
  font-size: small;
  line-height: 20px;

  td:first-child {
    text-align: right;
    padding-right: 1.5em;
  }
}