@import url("https://fonts.googleapis.com/css2?family=Noto+Emoji:wght@700&display=swap");

span.emoji {
  font-family: "Noto Emoji", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}