@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

span.notosans {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}