.timeline {
  margin: 0 2ic;
  padding: 0;
  position: relative;
  list-style: none;

  &::before {
    content: "";
    position: absolute;
    left: -1px;
    top: 0.5lh;
    bottom: 0.5lh;
    width: 2px;
    background-color: var(--accent-color);
    opacity: 0.5;
  }

  li {
    margin-left: 0;
    margin-block: 1em;
    padding-left: 30px;
    position: relative;

    &::before {
      content: "";
      display: inline-block;
      width: 12px;
      height: 12px;
      left: -6px;
      top: calc(0.5lh - 6px);
      position: absolute;
      border-radius: 6px;
      background-color: var(--accent-color);
    }

    span {
      display: block;
    }
  }

  li.duration {
    padding-block: 2em;

    &::before {
      height: 72px;
    }
  }
}

@media (width >=768px) {
  .timeline {
    &::before {
      left: calc(150px - 1px);
    }

    li {
      margin-left: 150px;
      margin-block: 2em;

      &::before {
        margin: auto 0;
        top: 0;
        bottom: 0;
      }
    }

    li span {
      position: absolute;
      left: -150px;
      top: 0;
      width: 120px;
      height: 2em;
      line-height: 2em;
      text-align: right;
    }
  }
}