.work {
  display: flex;
  flex-flow: row wrap;
  align-items: start;
  gap: 16px 2ic;
  margin: 0 0 2lh 0;
}

.work_thumbnail {
  flex: 300px 0 1;
  aspect-ratio: 1 / 1;
  img {
    width: 100%;
    max-height: 100%;
    object-fit: contain;
  }
}

.work_caption {
  flex: 40ic 0 1;
}

.work_title {
  border-left: 5px solid var(--accent-color);
  padding: 0 0 0 10px;
  margin: 0 0 16px 0;
  h2 {
    color: var(--text-color);
    margin: 0;
    padding-bottom: 3px;
  }
  p {
    margin: 0;
    font-size: small;
    line-height: normal;
  }
}

.post_list,
.author_list {
  margin: 20px 0 0 0;
  font-size: small;
  line-height: 20px;
  
  td:first-child {
    text-align: right;
    padding-right: 1.5em;
  }
}

.author_list td:first-child {
  text-wrap-mode: nowrap;
}

@media (width < 768px) {
  .work {
    table {
      display: block;
    }
    tbody {
      display: block;
    }
    tr {
      display: block;
    }
    td {
      display: block;
      &:first-child {
        text-align: left;
        padding-right: 0;
      }
      &:last-child {
        padding-left: 1.5em;
      }
    }
  }
}