@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@200..800&display=swap');

:root {
  --accent-color: #e84509;
  --back-color: #eee;
  --text-color: #111;
}

@media (prefers-color-scheme: dark) {
  :root {
  --accent-color: #e84509;
  --back-color: #111;
  --text-color: #eee;
  }
}

body {
  color: var(--text-color);
  background-color: var(--back-color);
  font-family: "Noto Sans JP", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-optical-sizing: auto;
  font-style: normal;
  width: 100%;
  margin: 0 auto;
  min-height: 100vh;
  position: relative;
}

a {
  text-decoration: none;
  color: var(--accent-color);
}

h1 {
  color: var(--accent-color);
  font-weight: 500;
  font-style: normal;
}

h2 {
  font-weight: 500;
  font-style: normal;
  margin: 10px 0 10px 0;
  padding-bottom: 3px;
}

.linkimage,
.linktext {
  opacity: 1;
  transition: 0.3s;

  &:hover {
    opacity: 0.5;
  }
}

.linktext {
  color: #fff;
  background-color: var(--accent-color);
  display: inline-block;
  width: 200px;
  height: 40px;
  margin: 0 0 10px 0;
  font-weight: 500;
  text-align: center;
  line-height: 38px;
  /*文字の高さ微調整*/
}

#map {
  height: 100%;
  width: 100%;
  pointer-events: none;
  z-index: -1;
  opacity: 0.1;
  position: absolute;
}

.multi_column {
  width: 100%;
  display: grid;
  justify-content: left;
  margin-top: 0;
  grid-template-columns: 1fr 3.75fr;
  /* 左固定幅 + 右可変幅 */
}

nav {
  position: fixed;
  top: 25px;
  left: 3vw;
  font-size: large;
  font-weight: 300;
  line-height: 40px;
}

.logo {
  margin: 5px 0;
  img {
    width: 70px;
    height: auto;
  }
}

.page_list {
  padding: 0;
  margin: 0;
  
  li {
    list-style: none;
  }
  
  a {
    transition-property: letter-spacing;
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    display: inline-block;
    width: 250px;
    &:hover {
      letter-spacing: 1em;
    }
  }
}

.SNSiconwrapper {
  margin-top: 20px;
}

.SNSiconwrapper a {
  margin-right: 10px;
}

main {
  position: relative;
  margin-top: 8vh;
  max-width: 40ic;
  text-align: left;
  line-height: 30px;
  padding-right: 2ic;
  grid-column: 2;
}

.work {
  display: flex;
  flex-wrap: wrap;
  column-gap: 2ic;
  row-gap: 16px;
}

.work_caption {
  margin-bottom: 2lh;
  flex-basis: 40ic;
}

.work_title {
  border-width: 0;
  border-left-width: 5px;
  border-style: solid;
  padding-left: 10px;
  border-color: var(--accent-color);
  margin-bottom: 16px;
  h2 {
    margin: 0;
  }
  p {
    margin: 0;
    font-size: small;
    line-height: normal;
  }
}

.post_list {
  margin: 20px 0 0 0;
  font-size: small;
  line-height: 20px;
  
  td:first-child {
    text-align: right;
    padding-right: 1.5em;
  }
}

.author_list {
  margin: 10px 0 0 0;
  font-size: small;
  line-height: 20px;

  td:first-child {
    text-align: right;
    padding-right: 1.5em;
    text-wrap-mode: nowrap;
  }
}