@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@200..800&display=swap');
@layer base;

:root {
  --accent-color: #e84509;
  --back-color: #eee;
  --text-color: #111;
}

@media (prefers-color-scheme: dark) {
  :root {
  --accent-color: #e84509;
  --back-color: #111;
  --text-color: #eee;
  }
}

@media screen and (width < 768px) {
  nav {
    position: relative;
    top: 0;
    left: 0;
    margin-top: 16px;
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 1em;
    grid-template-rows: auto auto;
    grid-template-areas: 
      "logo list"
      "SNS  list";

    .logo {
      grid-area: logo;
    }

    .page_list {
      grid-area: list;
      text-align: right;
      line-height: normal;
    }

    .SNSiconwrapper {
      display: none;
    }
  }

  main {
    margin: 0 0 100px 0;
  }

  h1 {
    margin-block: 1.33em;
  }
}

@layer base {
  body {
    color: var(--text-color);
    background-color: var(--back-color);
    font-family: "Noto Sans JP", sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-optical-sizing: auto;
    font-style: normal;
    width: 100%;
    margin: 0 auto;
    min-height: 100vh;
    position: absolute;
    box-sizing: border-box;
    padding: 0 max(4vw, 16px);
  }

  nav {
    position: fixed;
    top: 25px;
    left: 3vw;
    display: flex;
    flex-flow: column;
    row-gap: 16px;
    font-size: large;
    font-weight: 300;

    .SNSiconwrapper {
      display: flex;
      flex-flow: row;
      column-gap: 24px;
    }
  }

  footer {
    position:absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    row-gap: 16px;
    margin: 0;
    padding: 40px 0 0 0;
    font-size: small;
    .SNSiconwrapper {
      display: flex;
      flex-flow: row;
      column-gap: 48px;
    }
  }

  main {
    margin: 8vh 0 100px 20vw;
    max-width: 40ic;
    text-align: left;
    line-height: 30px;
  }

  a {
    text-decoration: none;
    color: var(--accent-color);
  }

  h1 {
    color: var(--accent-color);
    font-weight: 500;
    font-style: normal;
    margin-block: 1.67em;
  }

  h2 {
    color: var(--accent-color);
    font-weight: 500;
    font-style: normal;
  }
}

.banner_image,
.banner_text {
  display: inline-block;
  margin: 0 0 10px 0;
  width: 200px;
  height: 40px;
}

.banner_text {
  color: #fff;
  background-color: var(--accent-color);
  font-weight: 500;
  text-align: center;
  line-height: 38px;
  /*文字の高さ微調整*/
}

.hover_fade {
  opacity: 1;
  transition: 0.3s;

  &:hover {
    opacity: 0.5;
  }
}

#map {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: -1;
  opacity: 0.1;
  position: absolute;
}

.logo {
  margin: 5px 0;
  img {
    width: 70px;
    height: auto;
  }
}

.page_list {
  padding: 0;
  margin: 0;
  line-height: 2.2em;
  
  li {
    list-style: none;
  }
  
  a {
    transition-property: letter-spacing;
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    display: inline-block;
    width: calc(5ch + 5em); /* hoverした時の字間を考慮して5文字分 */
    white-space: nowrap;
    overflow: hidden;
    &:hover {
      letter-spacing: 1em;
    }
  }
}

.work {
  display: flex;
  flex-wrap: wrap;
  column-gap: 2ic;
  row-gap: 16px;
}

.work_thumbnail {
  flex: 300px 0 1;
  aspect-ratio: 1 / 1;
  img {
    width: 100%;
    max-height: 100%;
    object-fit: contain;
  }
}

.work_caption {
  flex: 40ic 0 1;
  margin-bottom: 2lh;
}

.work_title {
  border-width: 0;
  border-left-width: 5px;
  border-style: solid;
  padding-left: 10px;
  border-color: var(--accent-color);
  margin-bottom: 16px;
  h2 {
    color: var(--text-color);
    margin: 0;
    padding-bottom: 3px;
  }
  p {
    margin: 0;
    font-size: small;
    line-height: normal;
  }
}

.post_list {
  margin: 20px 0 0 0;
  font-size: small;
  line-height: 20px;
  
  td:first-child {
    text-align: right;
    padding-right: 1.5em;
  }
}

.author_list {
  margin: 10px 0 0 0;
  font-size: small;
  line-height: 20px;

  td:first-child {
    text-align: right;
    padding-right: 1.5em;
    text-wrap-mode: nowrap;
  }
}

@media screen and (width < 768px) {
  .work {
    table {
      display: block;
    }
    tbody {
      display: block;
    }
    tr {
      display: block;
    }
    td {
      display: block;
      &:first-child {
        text-align: left;
        padding-right: 0;
      }
      &:last-child {
        padding-left: 1.5em;
      }
    }
  }
}